{% extends 'layout/mainnav.html' %}
{% load static %}
{% block title %}강의평가{% endblock %}
{% block head %}
<script src="/static/write/js/main.js"></script>
<link rel="stylesheet" type="text/css" href="/static/write/css/util.css">
<link rel="stylesheet" type="text/css" href="/static/write/css/main.css">
{% endblock %}
{% block content %}

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
            <form class="login100-form validate-form flex-sb flex-w">
                <span class="login100-form-title p-b-32">
                    강의평가 작성
                </span>

                <span class="txt1 p-b-11">
                    강의
                </span>
                <div class="wrap-input100 validate-input m-b-36" data-validate = "Username is required">
                    <input class="input100" type="text" name="username" >
                    <span class="focus-input100"></span>
                </div>
                <span class="txt1 p-b-11">
                    제목
                </span>
                <div class="wrap-input100 validate-input m-b-36" data-validate = "Username is required">
                    <input class="input100" type="text" name="username" >
                    <span class="focus-input100"></span>
                </div>
                <span class="txt1 p-b-11">
                    수강 학기
                </span>
                <div class="wrap-input100 validate-input m-b-36" data-validate = "Username is required">
                    <input class="input100" type="text" name="username" >
                    <span class="focus-input100"></span>
                </div>
                <span class="txt1 p-b-11">
                    교수 강의력
                </span>
                <div class="wrap-input100 validate-input m-b-36" data-validate = "Username is required">
                    <input class="input100" type="text" name="username" >
                    <span class="focus-input100"></span>
                </div>
                <span class="txt1 p-b-11">
                    조모임
                </span>
                <div class="wrap-input100 validate-input m-b-36" data-validate = "Username is required">
                    <input class="input100" type="text" name="username" >
                    <span class="focus-input100"></span>
                </div>
                <span class="txt1 p-b-11">
                    과제
                </span>
                <div class="wrap-input100 validate-input m-b-36" data-validate = "Username is required">
                    <input class="input100" type="text" name="username" >
                    <span class="focus-input100"></span>
                </div>
                <span class="txt1 p-b-11">
                    총평
                </span>
                <div class="wrap-input100 validate-input m-b-36" data-validate = "Username is required">
                    <textarea class="input100" name="username" ></textarea>
                    <span class="focus-input100"></span>
                </div>
                <span class="txt1 p-b-11">
                    총점
                </span>
                    <select class="stars" name="stars">
                        <option  value="1">1</option>
                        <option  value="2">2</option>
                        <option  value="3">3</option>
                        <option  value="4">4</option>
                        <option  value="5">5</option>
                      </select>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Login
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>

<!-- scripts stars -->
<script type="text/javascript"> $(function() { $('.stars').barrating({ theme: 'fontawesome-stars' }); }); </script>

{% endblock %}
