{% extends 'postboard/base.html' %}
{% block content %}

<h1>게시판</h1>

{% if posts %}
    {% for post in posts %}  
        <a href="{% url 'postdetail' post.id  %}">
            <div>
                <li>
                    <ul>{{post.lecture}}</ul>
                    <ul>{{post.title}}</ul>
                    <ul>{{post.content}}</ul>
                </li>
            </div>
        </a>
    {% endfor %}
    {% else %}
    dsa
{%endif%}


<div class='container'>
    {% if posts.has_previous %}
    <a href='?page=1'>First</a>
    <a href='?page={{posts.previous_page_number}}'>Previous</a>
    {% endif %}

    <span>{{posts.number}}</span>
    <span>of</span>
    <span>{{posts.paginator.num_pages}}</span>

    {% if posts.has_next %}
    <a href='?page={{posts.next_page_number}}'>Next</a>
    <a href='?page={{posts.paginator.num_pages}}'>Last</a>
    {% endif %}
  </div>
{% endblock %}