{% extends 'layout/mainnav.html' %}
{% load static %}
{% block content %}

    <div class="s003">
      <form action="{% url 'search_lecture' %}" method="POST">
        {% csrf_token %}
        <div class="inner-form">
          <div class="input-field first-wrap">
            <div class="input-select">
              <select data-trigger="" name="search_type">
                <option placeholder="">Category</option>
                <option>Lecture Title</option>
                <option>Professor</option>
                <option>Content</option>
                <option>Lecture Code</option>
                <option>User</option>
              </select>
            </div>
          </div>
          <div class="input-field second-wrap">
            <input id="search" type="text" placeholder="Enter Keywords?" name="content" />
          </div>
          <div class="input-field third-wrap">
            <button class="btn-search" type="submit">
              <svg class="svg-inline--fa fa-search fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
              </svg>
            </button>
          </div>
        </div>
      </form>
    </div>

      <!-- Start Post Silder Area -->

      <br>
      
	<section>
		<div class="container box_1170">
			<div class="row justify-content-center">
				<div class="col-lg-10">
					<div class="">
						<div class="post-box mb-30">
							<div class="d-flex">
								<div class="post-meta">
									<div class="meta-head">
										<a href="#">Marvel Maison</a>
									</div>
									<div class="meta-details">
										<ul>
											<li>
												<a href="#">
													<span class="lnr lnr-calendar-full"></span>
													13th Oct, 2018
												</a>
											</li>
											<li>
												<a href="#">
													<span class="lnr lnr-picture"></span>
													Image Post
												</a>
											</li>
											<li>
												<a href="#">
													<span class="lnr lnr-coffee-cup"></span>
													Food & Travel
												</a>
											</li>
											<li>
												<a href="#">
													<span class="lnr lnr-bubble"></span>
													03 Comments
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
								dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
							<div class="post-btn">
								<a href="#" class="primary-btn text-uppercase">Read More</a>
							</div>
						</div>

						</div>
					</div>
				</div>
			</div>
		</div>
  </section>
	<!-- Start Post Silder Area -->
    <script src="/static/main/js/extention/choices.js"></script>
    <script>
      const choices = new Choices('[data-trigger]',
      {
        searchEnabled: false,
        itemSelectText: '',
      });

    </script>
<h1>게시판</h1>

{% if posts %}
    {% for post in posts %}  
        <a href="{% url 'postdetail' post.id  %}">
            <div>
                <li>
                    <ul>{{post.lecture}}</ul>
                    <ul>{{post.title}}</ul>
                    <ul>{{post.content}}</ul>
                </li>
            </div>
        </a>
    {% endfor %}
    {% else %}
    dsa
{%endif%}


<div class='container'>
    {% if posts.has_previous %}
    <a href='?page=1'>First</a>
    <a href='?page={{posts.previous_page_number}}'>Previous</a>
    {% endif %}

    <span>{{posts.number}}</span>
    <span>of</span>
    <span>{{posts.paginator.num_pages}}</span>

    {% if posts.has_next %}
    <a href='?page={{posts.next_page_number}}'>Next</a>
    <a href='?page={{posts.paginator.num_pages}}'>Last</a>
    {% endif %}
  </div>
{% endblock %}