{% extends 'layout/mainnav.html' %}
{% load static %}
{% block content %}
<br>

    
    <section>
      <div class="container box_1170">
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <div class="">

              <div class="post-box mb-30">
                <div class="d-flex">
                  <div>
                    <a href="#">
                      <select class="stars">
                        <option {% if content.stars == 1 %} selected {% endif %} value="1">1</option>
                        <option {% if content.stars == 2 %} selected {% endif %} value="2">2</option>
                        <option {% if content.stars == 3 %} selected {% endif %} value="3">3</option>
                        <option {% if content.stars == 4 %} selected {% endif %} value="4">4</option>
                        <option {% if content.stars == 5 %} selected {% endif %} value="5">5</option>
                      </select>
                    </a>
                  </div>
                  <div class="post-meta">
                    <div class="meta-head">
                      <a href="{% url 'postdetail' content.id  %}">{{content.lecture.name}}</a>
                    </div>
                    <div class="meta-details">
                      <ul>
                        <li>
                          <a href="#">
                            <span class="lnr lnr-calendar-full"></span>
                            {{content.lecture.professor.name}}
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <p>{{content.content}}</p>
                <div class="post-btn">
                  <a href="{% url 'postdetail' content.id  %}" class="primary-btn text-uppercase">Read More</a>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      </div>
    </section>

{% endblock %}