{% extends 'layout/mainnav.html' %}
{% load static %}
{% block content %}
<br>

    
    <section>
      <div class="container box_1170">
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <div class="">

              <div class="post-box mb-30">
                <div class="d-flex">
                  <div>
                    <div>작성자 :{{content.username}}</div>
                    <a href="#">
                      <select class="stars">
                        <option {% if content.stars == 1 %} selected {% endif %} value="1">1</option>
                        <option {% if content.stars == 2 %} selected {% endif %} value="2">2</option>
                        <option {% if content.stars == 3 %} selected {% endif %} value="3">3</option>
                        <option {% if content.stars == 4 %} selected {% endif %} value="4">4</option>
                        <option {% if content.stars == 5 %} selected {% endif %} value="5">5</option>
                      </select>
                    </a>
                  </div>
                  <div class="post-meta">
                    <div class="meta-head">
                      <a href="{% url 'postdetail' content.id  %}">{{content.lecture.name}}</a>
                    </div>
                    <div class="meta-details">
                      <ul>
                        <li>
                          <a href="#">
                            <span class="lnr lnr-calendar-full"></span>
                            {{content.lecture.professor.name}}
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <p>{{content.content}}</p>
                <br>
                <div>
                  <h5>시험 난이도
                    {% if content.test_level <= 0 %}
                    <button type="button" class="btn btn-light disable">No Exam</button>
                    {% elif content.test_level == 1 %}
                    <button type="button" class="btn btn-success disable">Cool</button>
                    {% elif content.test_level == 2 %}
                    <button type="button" class="btn btn-warning disable">Warning</button>
                    {% elif content.test_level >= 3 %}
                    <button type="button" class="btn btn-danger disable">Danger</button>
                    {% endif %}
                </h5>
                </div>
                <div style="padding-top:10px;">
                    <h5>강의력
                        {% if content.pro_lecturePower <= 1 %}
                        <button type="button" class="btn btn-danger disable">Danger</button>
                        {% elif content.pro_lecturePower == 2 %}
                        <button type="button" class="btn btn-warning disable">Warning</button>
                        {% elif content.pro_lecturePower >= 3 %}
                        <button type="button" class="btn btn-success disable">Cool</button>
                        {% endif %}
                    </h5>
                </div>
                <div style="padding-top:10px;">
                    <h5> 조모임
                        {% if content.project == 0 %}
                        <button type="button" class="btn btn-success disable">없음</button>
                        {% elif content.project == 1 %}
                        <button type="button" class="btn btn-success disable">1회</button>
                        {% elif content.project == 2 %}
                        <button type="button" class="btn btn-warning disable">2회</button>
                        {% elif content.project == 3 %}
                        <button type="button" class="btn btn-danger disable">3회 이상</button>
                        {% endif %}
                    </h5>
                </div>
                <div style="padding-top:10px;">
                    <h5> 과제빈도
                        {% if content.homework == 0 %}
                        <button type="button" class="btn btn-success disable">없음</button>
                        {% elif content.homework == 1 %}
                        <button type="button" class="btn btn-success disable">조금 있음</button>
                        {% elif content.homework == 2 %}
                        <button type="button" class="btn btn-warning disable">많음</button>
                        {% elif content.homework >= 3 %}
                        <button type="button" class="btn btn-danger disable">매우 많음</button>
                        {% endif %}
                    </h5>
                </div>
                <br>
                <div>
                    {% if request.user.name == content.username %}
                    <i class="far fa-grin"></i> 추천  {{content.lecture.reco}}
                    <i class="far fa-angry"></i> 비추천  {{content.lecture.not_reco}}
                    {% else %}
                    <button type="submit" class="btn btn-link far fa-grin"><input type="hidden" name="reco" value="reco"></button> 추천  {{content.lecture.reco}}
                    <button type="submit" class="btn btn-link far fa-angry"><input type="hidden" name="not_reco" value="not_reco"></button> 비추천  {{content.lecture.not_reco}}
                    
                    <a href="{% url 'delete' content.pk %}"><button type="submit" class="btn btn-outline-danger">삭제</button></a>
                    {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>
<!-- scripts stars -->
<script type="text/javascript"> $(function() { $('.stars').barrating({ theme: 'fontawesome-stars', readonly: true }); }); </script>
{% endblock %}