<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}강의평가{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/main/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript -->
    <script src="/static/main/vendor/jquery/jquery.min.js"></script>
    <script src="/static/main/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />

    <!-- Custom css, js -->
    <script src="/static/main/js/extention/choices.js"></script>
    <link href="/static/main/css/main.css?ver=1" rel="stylesheet" />

    <!-- template css, js -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700|Roboto:400,500" rel="stylesheet">
    <link rel="stylesheet" href="/static/board/css/linearicons.css">
    <link rel="stylesheet" href="/static/board/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="/static/board/css/bootstrap.css"> -->
    <link rel="stylesheet" href="/static/board/css/magnific-popup.css">
    <link rel="stylesheet" href="/static/board/css/nice-select.css">
    <link rel="stylesheet" href="/static/board/css/animate.min.css">
    <link rel="stylesheet" href="/static/board/css/owl.carousel.css">
    <link rel="stylesheet" href="/static/board/css/main.css?ver=1">

    <script src="/static/board/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
     crossorigin="anonymous"></script>
    <script src="/static/board/js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="/static/board/js/easing.min.js"></script>
    <script src="/static/board/js/hoverIntent.js"></script>
    <script src="/static/board/js/superfish.min.js"></script>
    <script src="/static/board/js/jquery.ajaxchimp.min.js"></script>
    <script src="/static/board/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/board/js/owl.carousel.min.js"></script>
    <script src="/static/board/js/jquery.nice-select.min.js"></script>
    <script src="/staitc/board/js/waypoints.min.js"></script>
    <script src="/static/board/js/mail-script.js"></script>
    <script src="/static/board/js/main.js"></script>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/board/css/fontawesome-stars.css">
    <script type="text/javascript" src="/static/board/js/jquery.barrating.min.js"></script>

</head>

<body>
    {% block nav %}{% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}
</body>

</html>